header {
  margin-bottom: 30px; padding: 0;
  width: 100%; height: 5vh;
}

section {
  position: relative;
  margin-bottom: 5%;
  width: 100%; height: 95vh;
}

.section-title:before,
.section-title:after  {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.section-title:before {
  background-color: rgb(29, 79, 145);
  opacity: .5;
  transform: translate(8px, -8px);
}

.section-title:after {
  border: solid 3px rgb(35, 31, 87);
}

.section-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 400px; height: 50px;
  font-size: 30px;
  font-family: Verdana, sans-serif;
  color: #90bfda;
}

.nav-link {
  cursor: pointer;
}

.character-detail {
  display: flex;
}

.my-name {
  position: relative;
  margin: auto; padding: 0;
}

.my-icon {
  position: relative;
  width: 120px; height: 120px;
  margin: 0 auto;
  border-radius: 50%;
}

.fadein>* {
  position: relative;
  opacity: 0;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.name {
  font-size: 30px;
}

.logos {
  margin: 0 auto;
  display: flex;
  text-align: center;
  width: 50vh;
}

.logo-item {
  margin: auto;
}

#link {
  height: 25vh;
}

/************************************************
 * animation
 ************************************************/
.fadein .section-title.animation {
  animation: fadein-left 0.5s ease 0.2s forwards;
}
.fadein p.animation {
  animation: fadein-bottom 0.5s ease 0.7s forwards;
}
.fadein div.animation {
  animation: fadein 0.5s ease 0.7s forwards;
}
.my-icon {
  animation: rotate 0.5s ease 1.0s forwards;
}

/************************************************
 * keyframes
 ************************************************/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein-left {
  from { 
    transform: translateX(-10%);
    opacity: 0; 
  }
  to   { 
    transform: translateX(0%);
    opacity: 1; 
  }
}

@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }
  to   {
    transform: rotate(0deg);
  }
}

@keyframes fadein-bottom {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to   {
    transform: translateY(0%);
    opacity: 1;
  }
}