html, body {
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 30px; padding: 0;
  width: 100%; height: 5vh;
}

section {
  position: relative;
  margin-bottom: 5%;
  width: 100%;
}

.section-title:before,
.section-title:after  {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 0%; height: 100%;
}

.section-title:before {
  opacity: 1;
  border-bottom: solid 3px rgb(28, 218, 170);
}

.section-title:after {
  opacity: 1;
  border-bottom: solid 3px rgb(231, 100, 13);
}

.section-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 400px; height: 50px;
  font-size: 30px;
  font-family: Verdana, sans-serif;
  color: #90bfda;
}

.nav-link {
  cursor: pointer;
}

.character-detail {
  display: flex;
}

.my-name {
  position: relative;
  margin: auto; padding: 0;
}

.my-icon {
  position: relative;
  width: 120px; height: 120px;
  margin: 0 auto;
  transform: rotate(-180deg);
}

.my-icon:after {
  content: ''; display: block;
  width: 120px; height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.my-icon:after { background-image: url(../img/icon.jpg); }

.fadein>* {
  position: relative;
  opacity: .0;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.name {
  font-size: 30px;
}

.logos {
  margin: 0 auto;
  display: flex;
  text-align: center;
  width: 50vh;
}

.logo-item {
  margin: auto;
}

#link {
  height: 25vh;
}

/************************************************
 * animation
 ************************************************/
.fadein .section-title.animation {
  animation: fadein-left 0.5s ease 0.5s forwards;
}
.fadein .section-title.animation::before {
  animation: widthin-left 1.0s ease 0.5s forwards;
}
.fadein .section-title.animation::after {
  animation: widthin-left 1.0s ease 1.0s forwards;
}
.fadein .btm-in-item.animation {
  animation: fadein-bottom 0.5s ease 2.5s forwards;
}
.fadein div.animation {
  animation: fadein 0.5s ease 2.0s forwards;
}
.my-icon {
  animation: rotate 2.0s ease 2.0s forwards;
}

/************************************************
 * keyframes
 ************************************************/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein-left {
  from { 
    transform: translateX(-10%);
    opacity: 0; 
  }
  to   { 
    transform: translateX(0%);
    opacity: 1; 
  }
}

@keyframes widthin-left {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }
  to   {
    transform: rotate(0deg);
  }
}

@keyframes fadein-bottom {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to   {
    transform: translateY(0%);
    opacity: 1;
  }
}